main{
    display: grid;
    justify-content: center;
    padding-top: 35vh;
    transform: translateY(-60px);
    position: relative;
    z-index: 1;
}

.caixa-pergunta{
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 10px;
    width: 50vh;
    background-color: #dff4ff;
    border: 5px solid #5aa7d8;
    border-radius: 20px;
}

.caixa-alternativas{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5vh 5vh;
    justify-content: center;
    padding-top: 10vh;
}

.alternativa{
    height: 8vh;
    width: 25vw;
    display: flex;
    align-items: center;
    background-color: #dff4ff;
    border: 5px solid transparent;
    border-radius: 20px;
    transition: border-color 0.2s;
}
.alternativa h2{
    flex-grow: 1;
    margin:0;
    text-align: center;
}
.alternativa:hover{
    border-color: #5aa7d8;
}

.alternativa input{
    margin-left: 3vh;
    transform: scale(2);
}