*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(135deg,
      #eaeef8 60%,
      #b9fcf2 40%
    );

    box-sizing: border-box;
    overflow: hidden;
}

.jirachi{
    position: absolute;
    justify-self: center;
    margin-top: 15vh;
    margin-left: 35vw;
}

#botão-confirmacao{
    position: absolute;
    max-width: 40vw;
    margin-top: 50vh;
    margin-left: 48vw;
}