button{
    grid-area:botao;
    width: 250px;
    height: 70px;
    background-color: #ffee00b7;
    border-color: transparent;
    border-radius: 10px;
    margin-left: 12vw;
}

button:hover{
    border: 2px solid black;
}

button:active{
    transform: scale(0.9)
}

#botao-grama{
    background-color: #019731d5;
}

#botao-agua{
    background-color: #1688ff;
}