*{
    margin: 0;
    padding: 0;
}
body{
    background-color: linear-gradient(135deg #efefef, #f0f8f7);
    box-sizing: border-box;
    overflow: hidden;
}

.jirachi{
    position: absolute;
    justify-self: center;
    margin-top: 15vh;
    margin-left: 35vw;
}

#botão-confirmacao{
    position: absolute;
    max-width: 40vw;
    margin-top: 50vh;
    margin-left: 48vw;
}