<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="../css/css-home/fundo.css">
    <link rel="stylesheet" href="../css/css-formulario/form.css">
    <link rel="stylesheet" href="../css/css-home/moldura.css">
</head>
<body>
    <div class="fundo">
        <img src="../images/Rotom_perguntas2.png" class="moldura">
        <h1>Cadastre-se</h1>
        <main>
            <form action="">
                <div class="campo">
                    <label for="">Nome:</label>
                    <input type="text" name="nome" >
                </div>
                <div class="campo">
                    <label for="">E-mail:</label>
                    <input type="text" name="email" >
                </div>
                <div class="campo">
                    <label for="">Endereço:</label>
                    <input type="text" name="endereco" >
                </div>
                <div class="campo">
                    <label for="">Estado:</label>
                    <select name="estado" id="">
                        <option value="SP">SP</option>
                        <option value="MG">MG</option>
                        <option value="RJ">RJ</option>
                        <option value="AM">AM</option>
                        <option value="ES">ES</option>
                        <option value="RO">RO</option>
                        <option value="PI">PI</option>
                        <option value="AL">AL</option>
                        <option value="PE">PE</option>
                        <option value="MT">MT</option>
                        <option value="AC">AC</option>
                    </select>
                    <div class="div_genero">     
                        <label for="" class="genero"> <span>MASC</span> <input name="genero" value="MASC" type="radio"></label>
                        <label for="" class="genero"> <span>FEM</span> <input name="genero" value="FEM" type="radio"></label>
                        <label for="" class="genero"> <span>OUTROS</span> <input name="genero" value="OUTROS" type="radio"></label>                  
                    </div>
                </div>
            </form>
        </main>
    </div>
</body>
</html>