<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar</title>
    <link rel="stylesheet" href="../css/css-home/fundo.css">
    <link rel="stylesheet" href="../css/css-home/moldura.css">
    <link rel="stylesheet" href="../css/css-cadastro/botão.css">
    <link rel="stylesheet" href="../css/css-cadastro/confirmacao.css">
</head>
<body>
    <div class="fundo">
        <img src="../images/Rotom_perguntas2.png" class="moldura">
        <main>
            <h1>Seus dados estão corretos?</h1>
            <div class="dados">
                <div> <label for="">NOME: </label> <span></span></div>
                <div> <label for="">EMAIL: </label> <span></span></div>
                <div> <label for="">ENDEREÇO: </label> <span></span></div>
                <div> <label for="">ESTADO: </label> <span></span></div>
                <div> <label for="">Gênero: </label> <span></span></div>
                <div class="div_btn">
                    <p>Imprimir dados:</p>
                    <img class="impressora" src="../images/impressora.png">
                </div>
            </div>
            <div class="botoes">
                <button class="voltar">
                    <div>
                        <p>&larr; Não,alterar dados</p>
                    </div>
                </button>
                <button class="avancar">
                    <div>
                        <p>Sim, começar quiz &rarr;</p>
                    </div>
                </button>
            </div>
        </main>
    </div>
    <script src="../script/confirmar-cadastro.js"></script>
</body>
</html>