<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css-confirmacao/fundo.css">
    <link rel="stylesheet" href="../css/css-confirmacao/main.css">
    <link rel="stylesheet" href="../css/css-perguntas/moldura.css">
    <link rel="stylesheet" href="../css/css-home/botão.css">
    <title>Confirmar</title>
</head>
<body>
    <div class="fundo">
        <img src="../images/Rotom_perguntas2.png" class="moldura">
        <main>
            <h1>Você escolheu as seguintes alternativas:</h1>

            <div class="confirmacao">

                <div class="campo">
                    <label></label>
                    <select id="p1">
                        <option>Giovanni</option>
                        <option>Iono</option>
                        <option>sitrusBerry</option>
                        <option>giantCape</option>
                    </select>
                </div>

                <div class="campo">
                    <label></label>
                    <select id="p2">
                        <option>Investida</option>
                        <option>Mordida</option>
                        <option>Enrolar</option>
                        <option>Cabeçada</option>
                    </select>
                </div>

                <div class="campo">
                    <label></label>
                    <select id="p3">
                        <option>Corredor cheio de batalhas consecutivas.</option>
                        <option>Floresta onde cada escolha altera o caminho..</option>
                        <option>Labirinto com mecanismos e enigmas..</option>
                        <option>Sala tecnológica cheia de armadilhas rápidas.</option>
                    </select>
                </div>

                <div class="campo">
                    <label></label>
                    <select id="p4">
                        <option>Observar o ambiente ao redor e planejar a melhor abordagem.</option>
                        <option>Entrar em ação imediatamente e tentar capturá-lo sem hesitar.</option>
                        <option>Analisar o comportamento do Pokémon antes de tomar qualquer decisão.</option>
                        <option>Testar rapidamente diferentes estratégias e recursos disponíveis no jogo.</option>
                    </select>
                </div>

                <div class="campo">
                    <label></label>
                    <select id="p5">
                        <option>Jogar uma pokebola</option>
                        <option>Jogar uma fruta</option>
                        <option>Iniciar uma batalha</option>
                        <option>Correr</option>
                    </select>
                </div>
            </div>
            <img src="../images/jirachi.webp" width="500px" height="auto" class="jirachi">
            <a class="link-botao" id="botao-confirmacao">
                <button>
                    <div>
                        <h1>Continuar </h1>
                        <h1>&rarr;</h1>
                    </div>
                </button>
            </a>
        </main>
    </div>
    <script type="module" src="../script/puxarDados.js"></script>
</body>
</html>