<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css-perguntas/fundo.css">
    <link rel="stylesheet" href="../css/css-perguntas/main.css">
    <link rel="stylesheet" href="../css/css-perguntas/botão.css">
    <link rel="stylesheet" href="../css/css-perguntas/moldura.css">
    <link rel="stylesheet" href="../css/css-perguntas/personagens.css">
    <title>Fase 4</title>
</head>
<body>
    <div class="fundo">
        <img src="../images/Rotom_perguntas2.png" class="moldura">
        <main>
            <div class="caixa-pergunta">
                <h1>Durante sua caminhada, você encontra um Gengar raro. O Pokémon parece pronto para uma batalha ou captura. O que você fará?</h1>
            </div>
            <div class="caixa-alternativas" id="perguntas-fase4">
                <label class="alternativa">
                    <input type="radio" name="escolha" value="grama">
                    <h2>Observar o ambiente ao redor e planejar a melhor abordagem.</h2>
                </label>
                <label class="alternativa">
                    <input type="radio" name="escolha" value="fogo">
                    <h2>Entrar em ação imediatamente e tentar capturá-lo sem hesitar.</h2>
                </label>
                <label class="alternativa">
                    <input type="radio" name="escolha" value="agua">
                    <h2>Analisar o comportamento do Pokémon antes de tomar qualquer decisão.</h2>
                </label>
                <label class="alternativa">
                    <input type="radio" name="escolha" value="eletrico">
                    <h2>Testar rapidamente diferentes estratégias e recursos disponíveis no jogo.</h2>
                </label>
            </div>
            <img src="../images/gengar.png" class="gengar">
            <button class="avancar">
                <div>
                    <h1>Continuar </h1>
                    <h1>&rarr;</h1>
                </div>
            </button>
        </main>
    </div>
    <script type="module" src="../script/SubirDados.js"></script>
</body>
</html>