<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 1</title>
    <link rel="stylesheet" href="../css/css-perguntas/fase1/botão.css">
    <link rel="stylesheet" href="../css/css-perguntas/fase1/fase1.css">
</head>
<body>
    <div class="caixa-pergunta">
        <h1>É o seu turno! escolha uma carta e pressione o botão continuar.</h1>
    </div>
    <div class="container">
        <div>
            <label>
                <input type="radio" name="escolha" value="3">
                <img src="../css/css-perguntas/fase1/cartasImg/Giovanni.webp" alt="Giovanni">
            </label>
        </div>
        <div>
            <label>
                <input type="radio" name="escolha" value="2">
                <img src="../css/css-perguntas/fase1/cartasImg/kissera.webp" alt="Kissera">
            </label>
        </div>
        <div>
            <label>
                <input type="radio" name="escolha" value="0">
                <img src="../css/css-perguntas/fase1/cartasImg/frutaSitrus.webp" alt="Fruta Sitrus">
            </label>
        </div>
        <div>
            <label>
                <input type="radio" name="escolha" value="1">
                <img src="../css/css-perguntas/fase1/cartasImg/capaGigante.webp" alt="Capa Gigante">
            </label>
        </div>
    </div>
    <button class="avancar">
        <div>
            <h1>Continuar </h1>
            <h1>&rarr;</h1>
        </div>
    </button>
    <script>
        const nPergunta = "pergunta1"
        const proximaPagina = "../views/Fase2.html"
    </script>
    <script src="../script/cartas.js"></script>
    <script type="module" src="../script/SubirDados.js"></script>
</body>
</html>