<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/perguntas/fase2/botao.css">
    <link rel="stylesheet" href="../css/perguntas/fase2/fundo.css">
    <link rel="stylesheet" href="../css/perguntas/fase2/main.css">
    <link rel="stylesheet" href="../css/components/navbar.css">
    <title>Fase 2</title>
</head>
<body>
    <div class="navbar">
        <h1>PokéQuiz</h1>
    </div>
    <main>
        <div class="caixa-pergunta">
            <h1>Escolha um movimento para atacar o pokémon oponente</h1>           
        </div>
        <div class="batalha">
            <img src="../assets/images/batalha-hud.jpg">
        </div>
        <div class="caixa-alternativas">
            <label class="alternativa">
                <input type="radio" name="escolha" value="eletrico">
                <h2>Investida</h2>
            </label>
            <label class="alternativa">
                <input type="radio" name="escolha" value="fogo">
                <h2>Mordida</h2>
            </label>
            <label class="alternativa">
                <input type="radio" name="escolha" value="agua">
                <h2>Enrolar</h2>
            </label>
            <label class="alternativa">
                <input type="radio" name="escolha" value="grama">
                <h2>Cabeçada</h2>
            </label>
        </div>
        <button class="avancar">
            <div>
                <h1>Continuar </h1>
                <h1>&rarr;</h1>
            </div>
        </button>
    </main>
    <script>
        const nPergunta = "pergunta2"
        const proximaPagina = "../views/Fase3.html"
    </script>
    <script type="module" src="../script/SubirDados.js"></script>
</body>
</html>