<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css-perguntas/fundo.css">
    <link rel="stylesheet" href="../css/css-perguntas/main.css">
    <link rel="stylesheet" href="../css/css-perguntas/botão.css">
    <link rel="stylesheet" href="../css/css-perguntas/moldura.css">
    <link rel="stylesheet" href="../css/css-perguntas/personagens.css">
    <title>Fase 3</title>
</head>
<body>
    <div class="fundo">
        <img src="../images/Rotom_perguntas2.png" class="moldura">
        <main>
            <div class="caixa-pergunta">
                <pre>
                    <h1>Você é um líder de ginásio Qual desafio os treinadores
            enfrentariam no seu ginásio?</h1>
                </pre>
            </div>
            <div class="caixa-alternativas">
                <label class="alternativa">
                    <input type="radio" name="escolha" value="fogo">
                    <h2>Corredor cheio de batalhas consecutivas.</h2>
                </label>
                <label class="alternativa">
                    <input type="radio" name="escolha" value="grama">
                    <h2>Floresta onde cada escolha altera o caminho..</h2>
                </label>
                <label class="alternativa">
                    <input type="radio" name="escolha" value="agua">
                    <h2>Labirinto com mecanismos e enigmas..</h2>
                </label>
                <label class="alternativa">
                    <input type="radio" name="escolha" value="eletrico">
                    <h2>Sala tecnológica cheia de armadilhas rápidas.</h2>
                </label>
            </div>
            <img src="../images/Red_pokemon.png" class="treinador-red">
            <button class="avancar">
                <div>
                    <h1>Continuar </h1>
                    <h1>&rarr;</h1>
                </div>
            </button>
        </main>
    </div>
    <script>
        const nPergunta = "pergunta3"
        const proximaPagina = "../views/Fase4.html"
    </script>
    <script type="module" src="../script/SubirDados.js"></script>
</body>
</html>