<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css-perguntas/fundo.css">
    <link rel="stylesheet" href="../css/css-perguntas/main.css">
    <title>Pergunta1</title>
</head>
<body>
    <h1>Quantos anos você tem ?</h1>
    <main>
        <button class="caixa-pergunta">
            <input type="radio" name="selecao">
            <h2>de 1 a 5 anos</h2>
        </button>
        <button class="caixa-pergunta">
            <input type="radio" name="selecao">
            <h2>de 1 a 5 anos</h2>
        </button>
        <button class="caixa-pergunta">
            <input type="radio" name="selecao">
            <h2>de 1 a 5 anos</h2>
        </button>
        <button class="caixa-pergunta">
            <input type="radio" name="selecao">
            <h2>de 1 a 5 anos</h2>
        </button>
    </main>
</body>
</html>