<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css-perguntas/fundo.css">
    <link rel="stylesheet" href="../css/css-perguntas/main.css">
    <link rel="stylesheet" href="../css/css-perguntas/botão.css">
    <link rel="stylesheet" href="../css/css-perguntas/moldura.css">
    <title>Pergunta 1</title>
</head>
<body>
    <div class="fundo">
        <img src="../images/Rotom_perguntas2.png" class="moldura">
        <main>
            <div class="caixa-pergunta">
                <h1>Pergunta tal -sla</h1>
            </div>
            <div class="caixa-alternativas">
                <label class="alternativa">
                    <input type="radio" name="escolha">
                    <h2>alternativa</h2>
                </label>
                <label class="alternativa">
                    <input type="radio" name="escolha">
                    <h2>alternativa</h2>
                </label>
                <label class="alternativa">
                    <input type="radio" name="escolha">
                    <h2>alternativa</h2>
                </label>
                <label class="alternativa">
                    <input type="radio" name="escolha">
                    <h2>alternativa</h2>
                </label>
            </div>
            <a class="link-botao" href="">
                <button>
                    <div>
                        <h1>Continuar </h1>
                        <h1>&rarr;</h1>
                    </div>
                </button>
            </a>
        </main>
    </div>
</body>
</html>