<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fogo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/css-resultado/fundo.css">
    <link rel="stylesheet" href="../css/css-resultado/moldura.css">
    <link rel="stylesheet" href="../css/css-resultado/main.css">
</head>
<body>
    <div class="fundo">
        <img src="../images/Rotom_perguntas2.png" class="moldura">
        <main>
            <h1>Você conseguiu o tipo <span>FOGO!</span></h1>
            <img src="../images/fogo.png">
            <p>O tipo Fogo representa treinadores apaixonados, determinados e cheios de energia. Você enfrenta desafios de frente e não desiste facilmente.</p>
            <h2>Pokémons sugeridos:</h2>
            <div class="cards">
                <div class="card" style="width: 22rem;">
                    <img src="../images/pokemons/Charmander.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><strong>Charmander n°0004</strong><br>Pokémon do tipo Fogo com aparência de um pequeno lagarto laranja. Sua chama representa sua vitalidade e força. Corajoso e determinado, é um dos iniciais mais populares.</p>
                    </div>
                </div>
                <div class="card" style="width: 22rem;">
                    <img src="../images/pokemons/Torchic.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><strong>Torchic n°0255</strong><br>Pokémon do tipo Fogo que lembra um pequeno pintinho. Apesar do tamanho, é cheio de energia e pode gerar calor intenso para usar ataques poderosos.</p>
                    </div>
                </div>
                <div class="card" style="width: 22rem;">
                    <img src="../images/pokemons/Fuecoco.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><strong>Fuecoco n°0909</strong><br>Pokémon do tipo Fogo com aparência de um crocodilo vermelho. Alegre e tranquilo, adora comer e surpreende com suas fortes chamas.</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>