<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elétrico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/css-resultado/fundo.css">
    <link rel="stylesheet" href="../css/css-resultado/moldura.css">
    <link rel="stylesheet" href="../css/css-resultado/main.css">
    <link rel="stylesheet" href="../css/css-resultado/botão.css">
</head>
<body id="eletrico">
    <div class="fundo">
        <img src="../images/Rotom_perguntas2.png" class="moldura">
        <main>
            <h1>Você conseguiu o tipo <span id="eletrico-span">Elétrico!</span></h1>
            <img src="../images/eletrico.png">
            <p>Elétrico é o elemento da energia, da agilidade e da inovação. Treinadores desse tipo costumam ser rápidos para pensar e agir, adaptando-se facilmente às mudanças. <br> Cheios de entusiasmo e determinação, gostam de enfrentar desafios de forma criativa e surpreender seus adversários com suas ideias e velocidade.</p>
            <h2>Pokémons sugeridos:</h2>
            <div class="cards" id="texto-eletrico">
                <div class="card" style="width: 22rem;">
                    <img src="../images/pokemons/Pikachu.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><strong>Pikachu nº0025</strong><br>Pokémon do tipo Elétrico com aparência de um pequeno roedor amarelo. Alegre e corajoso, armazena eletricidade em suas bochechas e a libera em poderosos ataques durante as batalhas.</p>
                    </div>
                </div>
                <div class="card" style="width: 22rem;">
                    <img src="../images/pokemons/Voltorb.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><strong>Voltorb nº0100</strong><br>Pokémon do tipo Elétrico que se parece com uma Poké Bola. Conhecido por sua grande quantidade de energia, pode liberar descargas elétricas repentinas quando se sente ameaçado.</p>
                    </div>
                </div>
                <div class="card" style="width: 22rem;">
                    <img src="../images/pokemons/Elekid.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><strong>Elekid nº0239</strong><br>Pokémon do tipo Elétrico com aparência infantil e muita energia. Adora brincar e correr, gerando eletricidade constantemente para fortalecer seus ataques e impressionar seus adversários.</p>
                    </div>
                </div>
            </div>
            <a href="../index.html" class="link-botao">
                <button>
                    <div>
                        <h1>Refazer quiz</h1>
                    </div>
                </button>
            </a>
        </main>
    </div>
</body>
</html>