<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grama</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/css-resultado/fundo.css">
    <link rel="stylesheet" href="../css/css-resultado/moldura.css">
    <link rel="stylesheet" href="../css/css-resultado/main.css">
    <link rel="stylesheet" href="../css/css-resultado/botão.css">
</head>
<body id="grama">
    <div class="fundo">
        <img src="../images/Rotom_perguntas2.png" class="moldura">
        <main>
            <h1>Você conseguiu o tipo <span id="grama-span">Grama!</span></h1>
            <img src="../images/grama.png">
            <p>Grama é o elemento da natureza, do crescimento e da harmonia. Treinadores desse tipo costumam ser pacientes, gentis e valorizam o trabalho em equipe. <br> Assim como as plantas, desenvolvem sua força ao longo do tempo, demonstrando resistência, equilíbrio e determinação para superar qualquer desafio.</p>
            <h2>Pokémons sugeridos:</h2>
            <div class="cards">
                <div class="card" style="width: 22rem;">
                    <img src="../images/pokemons/Bulbasaur.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><strong>Bulbasaur nº0001</strong><br>Pokémon do tipo Grama e Veneno com aparência de um pequeno réptil. A semente em suas costas cresce junto com ele, fornecendo energia para seus ataques e evolução.</p>
                    </div>
                </div>
                <div class="card" style="width: 22rem;">
                    <img src="../images/pokemons/Treecko.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><strong>Treecko nº0252</strong><br>Pokémon do tipo Grama que lembra uma pequena lagartixa verde. Ágil e confiante, é conhecido por sua velocidade e habilidade de escalar superfícies com facilidade.</p>
                    </div>
                </div>
                <div class="card" style="width: 22rem;">
                    <img src="../images/pokemons/Sprigatito.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text"><strong>Sprigatito nº0906</strong><br>Pokémon do tipo Grama com aparência de um gato verde. Curioso e carismático, adora explorar novos lugares e utiliza o aroma de suas folhas para ajudar e encantar seus aliados</p>
                    </div>
                </div>
            </div>
            <a href="../index.html" class="link-botao">
                <button>
                    <div>
                        <h1>Refazer quiz</h1>
                    </div>
                </button>
            </a>
        </main>
    </div>
</body>
</html>