main{
    display: flex;
    justify-self: center;
    justify-content: center;
    min-width: 40vw;
    min-height: 50vh;
    font-family: sans-serif;
    background-color: #dff4ff;
    border-radius: 20px;
    border: 10px solid #5aa7d8;
}
h1{
    margin-top: 30vh;
    justify-self: center;
}
form{
    padding-top: 3vh;
}

.campo{
    font-size: larger;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.campo label{
    margin-bottom: 2vh;
}
