.fundo{
    position: relative;
    min-height: 100vh;
}
.fundo::after{
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background: #e21d1d;
    z-index: 4;
}

.moldura{
    position: fixed;
    top: -90px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    object-fit: fill;
    pointer-events: none;
    z-index: 4;
}
