<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="../../css/pages/cadastro/fundo.css">
    <link rel="stylesheet" href="../../css/pages/cadastro/main.css">
    <link rel="stylesheet" href="../../css/pages/cadastro/form.css">
    <link rel="stylesheet" href="../../css/pages/cadastro/botao.css">
    <link rel="stylesheet" href="../../css/pages/cadastro/dialog.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
    </style>
</head>
<body>
    <div class="fundo">
        <main>
            <h1>Cadastre-se</h1>
            <form action="">
                <div class="campo">
                    <label for="">Nome:</label>
                    <input type="text" name="nome" placeholder="Nome completo">
                </div>
                <div class="campo">
                    <label for="">E-mail:</label>
                    <input type="text" name="email" placeholder="exemplo@teste.com">
                </div>
                <div class="campo">
                    <label for="">Endereço:</label>
                    <input type="text" name="endereco" placeholder="R. tal n°">
                </div>
                <div class="campo">
                    <label for="">Estado:</label>
                    <select name="estado" id="">
                        <option value="SP">SP</option>
                        <option value="MG">MG</option>
                        <option value="RJ">RJ</option>
                        <option value="AM">AM</option>
                        <option value="ES">ES</option>
                        <option value="RO">RO</option>
                        <option value="PI">PI</option>
                        <option value="AL">AL</option>
                        <option value="PE">PE</option>
                        <option value="MT">MT</option>
                        <option value="AC">AC</option>
                    </select>
                    <div class="div-genero">
                        <p>Gênero:</p>     
                        <label for="" class="genero"> <span>Masc</span> <input name="genero" value="MASC" type="radio"></label>
                        <label for="" class="genero"> <span>Fem</span> <input name="genero" value="FEM" type="radio"></label>
                        <label for="" class="genero"> <span>Outros</span> <input name="genero" value="OUTROS" type="radio"></label>                  
                    </div>
                </div>
                <button type="button" class="avancar">
                    <div>
                        <p>Continuar &rarr;</p>
                    </div>
                </button>
            </form>
            <dialog>
                <h1>Seus dados estão corretos?</h1>
                <div class="dados">
                    <div> <label for="">NOME: </label> <span class="dados-dialog"></span></div>
                    <div> <label for="">EMAIL: </label> <span class="dados-dialog"></span></div>
                    <div> <label for="">ENDEREÇO: </label> <span class="dados-dialog"></span></div>
                    <div> <label for="">ESTADO: </label> <span class="dados-dialog"></span></div>
                    <div> <label for="">Gênero: </label> <span class="dados-dialog"> </span></div>
                </div>
                <div class="botoes">
                    <button class="voltar">
                        <div>
                            <p>&larr; Não, alterar dados</p>
                        </div>
                    </button>
                    <button type="button" class="iniciar">
                        <div>
                            <p>Sim, começar quiz &rarr;</p>
                        </div>
                    </button>
                </div>
            </dialog>
        </main>
        <div class="img-fundo">
            <img src="../../assets/images/fundos/fundoCadastro.jpg">
        </div>
    </div>
    <script type="module" src="../../src/cadastro/subirUsuario.js"></script>

</body>
</html>