*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(135deg, #ff3131, #ff914d);
}

#agua{
    background-image: linear-gradient(135deg, #2392ed, #6fbeff);
}
#grama{
    background-image: linear-gradient(135deg, #5eb12b, #a8f17b);
}

#eletrico{
    background-image: linear-gradient(135deg, #ffda46, #f7df81);
}

