main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "pergunta pergunta"
        "batalha alternativas"
        "botao botao";
    align-items: start;
}



.caixa-pergunta{
    grid-area: pergunta;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 10px;
    height: 10vh;
    width: 40vw;
    background-color: #dff4ff;
    border: 5px solid #5aa7d8;
    border-radius: 20px;
}

.batalha{
    grid-area: batalha;
    margin-top: 10vh;
    margin-left: 7vh;

}

.batalha img{
    width: 40vw;
    height: auto;
}

.caixa-alternativas{
    grid-area: alternativas;
    margin-top: 15vh;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    gap: 5px 5px;
}

.alternativa{
    height: 8vh;
    width: 25vw;
    display: flex;
    align-items: center;
    background-color: #dff4ff;
    border: 5px solid transparent;
    border-radius: 20px;
    transition: border-color 0.2s;
}

.alternativa h2{
    flex-grow: 1;
    margin:0;
    text-align: center;
}

.alternativa:has(input:checked){
    transform: scale(1.1);
    border-color: #5aa7d8;
}

.alternativa:hover{
    border-color: #5aa7d8;
}

.alternativa input{
    margin-left: 3vh;
    transform: scale(2);
}
