<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/resultados/fundo.css">
    <link rel="stylesheet" href="../../css/resultados/main.css">
    <link rel="stylesheet" href="../../css/resultados/botao.css">
    <link rel="stylesheet" href="../../css/resultados/tabela.css">

    <title>Resultado</title>
</head>
<body>
    <img class="pokemon-fundo" src="../../assets/images/fundos/fundoFogo.png">
    <main>
        <div class="caixa-topo">
            <h1>Fogo</h1>
        </div>
        <div class="tabela-alternativas">
            <table>
                <thead>
                    <tr>
                        <th>idUsuário</th>
                        <th>Resposta1</th>
                        <th>Resposta2</th>
                        <th>Resposta3</th>
                        <th>Resposta4</th>
                        <th>Resposta5</th>
                    </tr>
                </thead>
                <tbody id="tbRespostas">
                
                </tbody>
            </table>
        </div>
        <div class="caixa-sugestoes">
            <div class="titulo">
                <h1>Você conseguiu o tipo <span>FOGO!</span></h1>
                <img src="../../assets/images/fogo.png" alt="elemento fogo">
            </div>
            <div class="paragrafo">
                <p>
                    O tipo Fogo representa treinadores apaixonados, determinados e cheios de energia. Você enfrenta desafios de frente e não desiste facilmente.
                </p>
                <h2>Pokémons sugeridos:</h2>
                <div class="caixa-pokemons">
                    <div class="pokemon-item">
                        <img src="../../assets/images/pokemons/Charmander.png" alt="Pokémon Charmander">
                        <h3>Charmander</h3>
                    </div>
                    <div class="pokemon-item">
                        <img src="../../assets/images/pokemons/Torchic.png" alt="Pokémon Torchic">
                        <h3>Torchic</h3>
                    </div>
                    <div class="pokemon-item">
                        <img src="../../assets/images/pokemons/Fuecoco.png" alt="Pokémon Fuecoco">
                        <h3>Fuecoco</h3>
                    </div>
                </div>
            </div>
        </div>
        <a href="../../index.html">
                <button>
                    <div>
                        <h1>Recomeçar quiz</h1>
                    </div>
                </button>
            </a>
    </main>

    <script type="module" src="../../src/tabela/tbRespostas.js"></script>
</body>
</html>