<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/resultados/fundo.css">
    <link rel="stylesheet" href="../../css/resultados/main.css">
    <link rel="stylesheet" href="../../css/resultados/botao.css">
    <link rel="stylesheet" href="../../css/resultados/tabela.css">

    <title>Resultado</title>
</head>
<body id="agua">
    <img class="pokemon-fundo" src="../../assets/images/fundos/fundoAgua.png">
    <main>
        <div class="caixa-topo" id="caixa-agua">
            <h1>Água</h1>
        </div>
        <div class="tabela-alternativas">
            <table>
                <thead>
                    <tr>
                        <th>Alternativas Escolhidas</th>
                    </tr>
                </thead>
                <tbody id="tbRespostas">
                
                </tbody>
            </table>
        </div>
        <div class="caixa-sugestoes">
            <div class="titulo">
                <h1>Você conseguiu o tipo <span>ÁGUA!</span></h1>
                <img src="../../assets/images/agua.png" alt="elemento água">
            </div>
            <div class="paragrafo">
                <p>
                   Água é o elemento da adaptação, da calma e da perseverança. Treinadores desse tipo costumam ser flexíveis diante dos desafios, encontrando soluções mesmo nas situações mais difíceis. <br> Assim como a água, podem ser tranquilos na maior parte do tempo, mas demonstram grande força e determinação quando necessário. 
                </p>
                <h2>Pokémons sugeridos:</h2>
                <div class="caixa-pokemons">
                    <div class="pokemon-item">
                        <img src="../../assets/images/pokemons/Sobble.png" alt="Pokémon Sobble">
                        <h3>Sobble</h3>
                    </div>
                    <div class="pokemon-item">
                        <img src="../../assets/images/pokemons/Squirtle.png" alt="Pokémon Squirtle">
                        <h3>Squirtle</h3>
                    </div>
                    <div class="pokemon-item">
                        <img src="../../assets/images/pokemons/Froakie.png" alt="Pokémon Froakie">
                        <h3>Froakie</h3>
                    </div>
                </div>
            </div>
        </div>
        <a href="../../index.html">
                <button id="agua-cor2">
                    <div>
                        <h1>Recomeçar quiz</h1>
                    </div>
                </button>
            </a>
    </main>

    <script type="module" src="../../src/tabela/tbRespostas.js"></script>
</body>
</html>