<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/resultados/fundo.css">
    <link rel="stylesheet" href="../../css/resultados/main.css">
    <link rel="stylesheet" href="../../css/resultados/botao.css">
    <link rel="stylesheet" href="../../css/resultados/tabela.css">

    <title>Resultado</title>
</head>
<body id="eletrico">
    <img class="pokemon-fundo" src="../../assets/images/fundos/fundoEletrico.png">
    <main>
        <div class="caixa-topo" id="caixa-eletrico">
            <h1>Elétrico</h1>
        </div>
        <div class="tabela-alternativas">
            <table id="eletrico">
                <thead>
                    <tr>
                        <th>idUsuário</th>
                        <th>Resposta1</th>
                        <th>Resposta2</th>
                        <th>Resposta3</th>
                        <th>Resposta4</th>
                        <th>Resposta5</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody id="tbRespostas">
                
                </tbody>
            </table>
        </div>
        <div class="caixa-sugestoes">
            <div class="titulo">
                <h1>Você conseguiu o tipo <span>Elétrico!</span></h1>
                <img src="../../assets/images/elementos/eletrico.png" alt="elemento elétrico">
            </div>
            <div class="paragrafo">
                <p>
                    Elétrico é o elemento da energia, da agilidade e da inovação. Treinadores desse tipo costumam ser rápidos para pensar e agir, adaptando-se facilmente às mudanças. <br> Cheios de entusiasmo e determinação, gostam de enfrentar desafios de forma criativa e surpreender seus adversários com suas ideias e velocidade.
                </p>
                <h2>Pokémons sugeridos:</h2>
                <div class="caixa-pokemons">
                    <div class="pokemon-item">
                        <img src="../../assets/images/pokemons/Pikachu.png" alt="Pokémon Pikachu">
                        <h3>Pikachu</h3>
                    </div>
                    <div class="pokemon-item">
                        <img src="../../assets/images/pokemons/Voltorb.png" alt="Pokémon Voltorb">
                        <h3>Voltorb</h3>
                    </div>
                    <div class="pokemon-item">
                        <img src="../../assets/images/pokemons/Elekid.png" alt="Pokémon Elekid">
                        <h3>Elekid</h3>
                    </div>
                </div>
            </div>
        </div>
        <a href="../../index.html">
                <button>
                    <div>
                        <h1>Recomeçar quiz</h1>
                    </div>
                </button>
            </a>
    </main>

    <script type="module" src="../../src/tabela/tbRespostas.js"></script>
</body>
</html>